*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

.wrapper {
  width: 1200px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px 25px 0 25px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

@-webkit-keyframes walk {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  75% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes walk {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }

  75% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-screen .first-block {
  background-image: url("../img/main-screen-left.jpg");
  width: 122%;
  height: 100vh;
}

.main-screen .second-block {
  background-image: url("../img/main-screen-right.jpg");
  height: 105vh;
  width: 100%;
}

.main-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  top: 300px;
  height: 55%;
  z-index: 10;
}

.first-content-block {
  color: #bea67c;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  -webkit-transform: rotate(90deg) translateY(20px);
      -ms-transform: rotate(90deg) translateY(20px);
          transform: rotate(90deg) translateY(20px);
}

.first-content-block .walking-circle {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #bea67c;
  border-radius: 50%;
  opacity: 0.4;
  left: 188px;
  top: -37px;
  -webkit-animation: walk 10s ease infinite;
          animation: walk 10s ease infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.first-content-block .walking-circle::before,
.first-content-block .walking-circle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #bea67c;
  border-radius: 50%;
}

.first-content-block .walking-circle::before {
  left: 50px;
  -webkit-animation: walk 17s linear infinite;
          animation: walk 17s linear infinite;
}

.first-content-block .walking-circle::after {
  left: 100px;
  -webkit-animation: walk 10s ease-out infinite;
          animation: walk 10s ease-out infinite;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.first-content-block::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #bea67c;
  top: 50%;
  left: -67px;
}

.first-content-block::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #bea67c;
  position: absolute;
  border-radius: 50%;
  top: 45%;
  right: -68px;
}

.main-content-block .content-title {
  color: #bea67c;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.scroll-block {
  width: 250px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg) translateX(115px) translateY(115px);
      -ms-transform: rotate(90deg) translateX(115px) translateY(115px);
          transform: rotate(90deg) translateX(115px) translateY(115px);
}

.scroll-block__name {
  color: rgba(190, 166, 124, 0.2);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.scroll-block__name::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  left: -135%;
}

.scroll-block__name::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  top: 36.8%;
  right: 141%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scroll-block__icon {
  width: 30px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 45%;
  position: relative;
}

.scroll-block__icon::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  top: 45%;
}

.scroll-block__icon::after {
  content: "";
  width: 8px;
  height: 6px;
  position: absolute;
  border: 1px solid #ffffff;
  top: 32.5%;
  left: 10%;
  border-radius: 20%;
  background-color: black;
}

.second-content-block {
  color: rgba(190, 166, 124, 0.2);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  -webkit-transform: rotate(90deg) translateX(40px) translateY(-100px);
      -ms-transform: rotate(90deg) translateX(40px) translateY(-100px);
          transform: rotate(90deg) translateX(40px) translateY(-100px);
}

.second-content-block .devision-sign {
  margin: 0 20px 0 20px;
}

.second-content-block::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #bea67c;
  top: 35%;
  right: -233%;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  margin: 0 auto;
}

.service-picture {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: -100;
  opacity: 0.2;
}

.first-service,
.second-service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-service:hover .service-description::after,
.second-service:hover .service-description::after {
  opacity: 0.4;
}

.first-service:hover .service-description,
.second-service:hover .service-description {
  opacity: 1;
}

.first-service:hover .service-order,
.second-service:hover .service-order {
  opacity: 1;
}

.first-service:hover .service-order::after,
.second-service:hover .service-order::after {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.first-service:hover .description-title::before,
.second-service:hover .description-title::before {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.first-service:hover .description-text::before,
.second-service:hover .description-text::before {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.first-service:hover .service-picture,
.second-service:hover .service-picture {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.first-service .service-picture {
  -webkit-transform: translateX(600px);
      -ms-transform: translateX(600px);
          transform: translateX(600px);
}

.second-service {
  margin-top: 280px;
}

.second-service .service-picture {
  -webkit-transform: translateX(-600px);
      -ms-transform: translateX(-600px);
          transform: translateX(-600px);
}

.service-description {
  width: 375px;
  position: relative;
  opacity: 0.1;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.service-description::before {
  content: "F";
  position: absolute;
  color: #faf9f6;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 39rem;
  font-weight: 700;
  top: -165%;
  left: -55%;
  opacity: 0.4;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.service-description::after {
  content: "furniture";
  position: absolute;
  display: block;
  color: #f6f6f6;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 17rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  top: 10%;
  left: 170%;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.service-description .description-title {
  color: #010101;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.service-description .description-title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #010101;
  top: 50%;
  left: -180px;
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.service-description .second-title {
  text-align: right;
}

.service-description .second-title::before {
  left: 405px;
  -webkit-transform: translateX(500px);
      -ms-transform: translateX(500px);
          transform: translateX(500px);
}

.service-description .description-text {
  line-height: 3rem;
  color: #464646;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 25px;
  position: relative;
}

.service-description .description-text::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  top: 50%;
  left: -74px;
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.service-description .second-text {
  text-align: right;
}

.service-description .second-text::before {
  left: 405px;
  -webkit-transform: translateX(500px);
      -ms-transform: translateX(500px);
          transform: translateX(500px);
}

.second-description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.second-description-block::before {
  content: "D";
  left: 80%;
  top: -155%;
}

.second-description-block::after {
  content: "decor";
  top: 10%;
  left: -262%;
}

.service-order {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #010101;
  font-family: "Archivo Black", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  position: relative;
  opacity: 0.1;
}

.service-order .order-end {
  color: #bea67c;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin-left: 5px;
}

.service-order::after {
  content: "";
  width: 4px;
  height: 50px;
  background-color: #bea67c;
  position: absolute;
  left: 12%;
  top: 200%;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
}

.second-order {
  text-align: right;
}

.second-order::after {
  left: 75%;
}

.services-advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 225px;
  width: 100%;
  padding-bottom: 160px;
}

.services-advertisement .advertisement-title {
  color: #010101;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.services-advertisement .advertisement-title::after {
  content: '';
  position: absolute;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  top: 150%;
  left: 45%;
}

.services-advertisement .advertisement-text {
  color: #464646;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 550px;
  text-align: center;
  margin-top: 60px;
}

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  width: 100%;
}

.videos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
}

.videos__item:hover .video-itself {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.videos__item .video-itself {
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.videos__item .play-button {
  position: absolute;
  top: 27%;
  background-color: #bea67c;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.8;
}

.videos__item .play-button::before {
  content: '';
  position: absolute;
  border: 18px solid transparent;
  border-left: 26px solid #ffffff;
  border-radius: 5px;
  top: 22%;
  left: 40%;
}

.videos__item .play-button::after {
  content: '';
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 1px solid rgba(190, 166, 124, 0.2);
  top: -145%;
  left: -145%;
  z-index: -200;
}

.videos__item .video-description {
  color: #010101;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 60px;
  position: relative;
}

.videos__item .video-description::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #bea67c;
  top: -150%;
  left: 40%;
}

.advertisement {
  background-image: url("../img/video-large.jpg");
  height: 915px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertisement-container {
  width: 1560px;
  height: 735px;
  border: 1px solid #bea67c;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.advertisement-container::before {
  content: "";
  position: absolute;
  width: 860px;
  height: 860px;
  border-radius: 50%;
  border: 65px solid #f6f6f6;
  opacity: 0.07;
  left: 46%;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: translateX(-900px);
      -ms-transform: translateX(-900px);
          transform: translateX(-900px);
}

.advertisement-container::after {
  position: absolute;
  content: "";
  left: 100px;
  height: 152px;
  width: 1px;
  background-color: #ffffff;
  top: 40%;
  left: 90%;
}

.advertisement__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 390px;
}

.advertisement__block .block-title {
  color: #bea67c;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}

.advertisement__block .block-title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  left: -180px;
}

.advertisement__block .block-description {
  width: 540px;
  color: #b3a2a2;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 1px;
  margin-top: 50px;
  position: relative;
}

.advertisement__block .block-description::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  top: 50%;
  left: -74px;
}

.advertisement__block .button {
  position: relative;
}

.advertisement__block .button::after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-left: 8px solid #ffffff;
  border-radius: 2px;
  top: 38%;
  left: 15.5%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.advertisement__block .button::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  left: 12.5%;
  top: 28%;
}

.triangle {
  position: relative;
  height: 270px;
  width: 10px;
  background-color: #f6f6f6;
  left: 1100px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 0 0px 71px #f6f6f6;
          box-shadow: 0px 0 0px 71px #f6f6f6;
  -webkit-transform: scale(0.7) translateX(-1300px);
      -ms-transform: scale(0.7) translateX(-1300px);
          transform: scale(0.7) translateX(-1300px);
  opacity: 0.07;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.triangle::before,
.triangle::after {
  content: "";
  position: absolute;
  height: 270px;
  width: 10px;
  background-color: #f6f6f6;
  border-radius: 70px;
  -webkit-box-shadow: 0px 0 0 71px #f6f6f6;
          box-shadow: 0px 0 0 71px #f6f6f6;
}

.triangle::before {
  -webkit-transform: rotate(60deg) translate(113px, -65px);
      -ms-transform: rotate(60deg) translate(113px, -65px);
          transform: rotate(60deg) translate(113px, -65px);
}

.triangle::after {
  -webkit-transform: rotate(-60deg) translate(113px, 65px);
      -ms-transform: rotate(-60deg) translate(113px, 65px);
          transform: rotate(-60deg) translate(113px, 65px);
}

.advertisement:hover .triangle {
  -webkit-transform: scale(0.7) translateX(0px) rotate(360deg);
      -ms-transform: scale(0.7) translateX(0px) rotate(360deg);
          transform: scale(0.7) translateX(0px) rotate(360deg);
}

.advertisement:hover .advertisement-container::before {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.about-us {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 0 125px 0px;
}

.about-us .description-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 100px;
  position: relative;
}

.about-us .description-block::before {
  content: "A";
  position: absolute;
  color: #faf9f6;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 39rem;
  font-weight: 700;
  left: 80%;
  top: -175%;
  opacity: 0.4;
}

.about-us .description-block::after {
  content: "about us";
  position: absolute;
  display: block;
  color: #f6f6f6;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 17rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  top: 10%;
  left: -360%;
  opacity: 0.4;
}

.about-us .description-block__title {
  color: #010101;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.about-us .description-block__title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #010101;
  top: 50%;
  left: -180px;
}

.about-us .description-block__text {
  line-height: 3rem;
  color: #464646;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 25px;
  position: relative;
  width: 100%;
  letter-spacing: 0.5px;
}

.about-us .description-block__text::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 4px;
  background-color: #bea67c;
  top: 50%;
  left: -74px;
}

.footer-block {
  background-image: url("../img/footer-bg.jpg");
  height: 70px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__copyright {
  color: #464646;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__logo {
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}

.footer__logo::before {
  content: "";
  width: 52px;
  height: 4px;
  position: absolute;
  background-color: #bea67c;
  top: 16px;
  left: 35px;
}

.footer__author-block {
  color: #464646;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  white-space: pre;
}

.footer__author-block .author-block__name {
  color: #7d7d7d;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-block__burger {
  width: 45px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-block__burger:hover .burger__line {
  opacity: 1;
}

.menu-block__burger .burger__line {
  height: 1px;
  width: 33px;
  background-color: #bea67c;
  position: relative;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.menu-block__burger .burger__line::before {
  content: '';
  height: 1px;
  width: 33px;
  background-color: #bea67c;
  position: absolute;
  bottom: 10px;
}

.menu-block__burger .burger__line::after {
  content: '';
  height: 1px;
  width: 33px;
  background-color: #bea67c;
  position: absolute;
  top: 10px;
}

.menu-block__title {
  margin-left: 12px;
  color: #b3a2a2;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-and-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 220px;
}

.logo-and-nav .logo {
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 14px;
  text-transform: uppercase;
  position: relative;
}

.logo-and-nav .logo::before {
  content: "";
  width: 68px;
  height: 4px;
  position: absolute;
  background-color: #bea67c;
  top: 20px;
  left: 49px;
}

.logo-and-nav .nav {
  margin-left: 100px;
}

.logo-and-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  list-style: none;
}

.logo-and-nav .nav-items .item {
  position: relative;
}

.logo-and-nav .nav-items .item:hover:after {
  width: 100%;
}

.logo-and-nav .nav-items .item:hover .item__name {
  color: white;
}

.logo-and-nav .nav-items .item:after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.logo-and-nav .nav-items .item__name {
  text-decoration: none;
  text-transform: uppercase;
  color: #b3a2a2;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.side-bar {
  width: 125px;
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .user-actions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 2px 20px 2px 0px;
}

.side-bar .user-actions-block .first-action,
.side-bar .user-actions-block .second-action {
  text-decoration: none;
}

.side-bar .user-actions-block .first-action {
  width: 25px;
  height: 25px;
  border: 1px solid #b3a2a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #b3a2a2;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar .user-actions-block .first-action:hover {
  color: white;
  border-color: white;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.side-bar .user-actions-block .second-action {
  text-transform: uppercase;
  color: #b3a2a2;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar .user-actions-block .second-action:hover {
  color: white;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.side-bar .user-actions-block .second-action::after {
  content: '';
  position: absolute;
  left: 140%;
  top: 25%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #bea67c;
}

.side-bar .user-action {
  width: 30px;
  margin-bottom: 40px;
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.side-bar .user-action:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 60px;
  border: 2px solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 5px;
  border-radius: 2px;
  margin-top: 50px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover .button-title::before {
  width: 306px;
}

.button::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  right: 10%;
}

.button::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  top: 45.5%;
  right: 10%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-title::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 56px;
  background-color: #bea67c;
  z-index: -200;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.transparent-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #010101;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 5px;
  border-radius: 2px;
  margin-top: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transparent-button:hover::before {
  background-color: #ffffff;
}

.transparent-button:hover::after {
  border-color: #ffffff;
}

.transparent-button:hover .button__name {
  color: #ffffff;
}

.transparent-button:hover .button__name::before {
  width: 310px;
}

.transparent-button:hover .button__name::after {
  background-color: #ffffff;
}

.transparent-button::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 1px;
  background-color: #bea67c;
  top: 29.5px;
  right: 10%;
  z-index: 10;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.transparent-button::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #bea67c;
  border-right: 1px solid #bea67c;
  top: 26.5 px;
  right: 10.3%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 10;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button__name {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button__name::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #bea67c;
  top: 25px;
  left: -2px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button__name::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 60px;
  background-color: #bea67c;
  z-index: -1;
  top: -21px;
  left: -85px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.second-service-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@supports (-webkit-appearance:none){
.main-screen .first-block{background-image:url("../img/main-screen-left.webp")}
.main-screen .second-block{background-image:url("../img/main-screen-right.webp")}
.advertisement{background-image:url("../img/video-large.webp")}
.footer-block{background-image:url("../img/footer-bg.webp")}
}
